:root{
    --primary-font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --home-primary-font-color: #f0f8ff;
    
    --background-primary-color:deepskyblue;
}